<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=\\.\pipe\LOCALDB#E37EFF8B\tsql\query;Persist Security Info=True;initial catalog=dmondb;User Id=sa;Password=A1mostdone"/>
	</appSettings>
</configuration>